# Setup

La fase di setup è composta da:

- Installazione delle dipendenze
- Configurazione

## Installazione delle dipendenze

Qui viene effettuato il provisioning delle dipendenze del file.

In [1]:
!pip install -r train_requirements.txt

Requirement already satisfied: pandas in c:\python38\lib\site-packages (from -r train_requirements.txt (line 1)) (1.2.2)
Requirement already satisfied: numpy in c:\python38\lib\site-packages (from -r train_requirements.txt (line 2)) (1.19.5)
Requirement already satisfied: sklearn in c:\python38\lib\site-packages (from -r train_requirements.txt (line 3)) (0.0)
Requirement already satisfied: pytz>=2017.3 in c:\python38\lib\site-packages (from pandas->-r train_requirements.txt (line 1)) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\python38\lib\site-packages (from pandas->-r train_requirements.txt (line 1)) (2.8.1)
Requirement already satisfied: scikit-learn in c:\python38\lib\site-packages (from sklearn->-r train_requirements.txt (line 3)) (0.24.1)
Requirement already satisfied: six>=1.5 in c:\python38\lib\site-packages (from python-dateutil>=2.7.3->pandas->-r train_requirements.txt (line 1)) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\python38\lib\site-packages (from scikit-learn->sklearn->-r train_requirements.txt (line 3)) (2.1.0)
Requirement already satisfied: scipy>=0.19.1 in c:\python38\lib\site-packages (from scikit-learn->sklearn->-r train_requirements.txt (line 3)) (1.6.1)
Requirement already satisfied: joblib>=0.11 in c:\python38\lib\site-packages (from scikit-learn->sklearn->-r train_requirements.txt (line 3)) (1.0.1)

WARNING: You are using pip version 20.2.1; however, version 21.0.1 is available.
You should consider upgrading via the 'c:\python38\python.exe -m pip install --upgrade pip' command.

## Configurazione

Qui vengono salvati alcuni valori che vengono utilizzati spesso nel file, lo scopo è quello di evitare hard coding.

In [2]:
dataset_full_path = "./"

training_set_filename = "train.csv"
test_set_filename = "test.csv"

label_column_name = "status"

spearman_treshold = 0.9

# Data import

In questa sezione vengono importati i due dataset.

In [3]:
# pandas è una libreria per Data Analysis
import pandas as pd

training_set = pd.read_csv(training_set_filename)
test_set = pd.read_csv(test_set_filename)
dataset = pd.concat([training_set, test_set])

# Data visualization

In questa sezione si visualizzano il datapoints appartenenti al dataset di training e quello di test.

## Training set

In [4]:
training_set

,status,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,salary
0,Placed,M,73.0,Central,78.0,Others,Commerce,65.0,Comm&Mgmt,Yes,95.46,Mkt&Fin,62.16,420000.0
1,Placed,M,73.0,Central,73.0,Central,Science,66.0,Sci&Tech,Yes,70.00,Mkt&Fin,68.07,275000.0
2,Placed,M,82.0,Others,90.0,Others,Commerce,83.0,Comm&Mgmt,No,80.00,Mkt&HR,73.52,200000.0
3,Placed,M,74.0,Central,62.0,Others,Science,68.0,Comm&Mgmt,No,74.00,Mkt&Fin,57.99,268000.0
4,Placed,M,80.0,Others,73.0,Others,Commerce,75.0,Comm&Mgmt,No,61.00,Mkt&Fin,58.78,240000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,Placed,M,60.0,Others,67.0,Others,Arts,70.0,Comm&Mgmt,Yes,50.48,Mkt&Fin,77.89,236000.0
125,Placed,F,73.0,Central,97.0,Others,Commerce,79.0,Comm&Mgmt,Yes,89.00,Mkt&Fin,70.81,650000.0
126,Placed,M,74.0,Others,59.0,Others,Commerce,73.0,Comm&Mgmt,Yes,60.00,Mkt&HR,56.70,240000.0
127,Placed,M,84.2,Central,69.4,Central,Science,65.0,Sci&Tech,Yes,80.00,Mkt&HR,52.72,255000.0
128,Not Placed,M,44.0,Central,58.0,Central,Arts,55.0,Comm&Mgmt,Yes,64.25,Mkt&HR,58.54,NaN

## Test set

In [5]:
test_set

,status,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,salary
0,Placed,M,65.00,Central,71.50,Others,Commerce,62.80,Comm&Mgmt,Yes,57.00,Mkt&Fin,56.60,265000.0
1,Not Placed,M,67.90,Others,62.00,Others,Science,67.00,Sci&Tech,Yes,58.10,Mkt&Fin,75.71,NaN
2,Not Placed,M,52.00,Central,62.00,Central,Commerce,54.00,Comm&Mgmt,No,72.00,Mkt&HR,55.41,NaN
3,Not Placed,M,51.00,Central,44.00,Central,Commerce,57.00,Comm&Mgmt,No,64.00,Mkt&Fin,51.45,NaN
4,Placed,M,67.00,Others,63.00,Central,Commerce,72.00,Comm&Mgmt,No,56.00,Mkt&HR,60.41,225000.0
5,Placed,M,70.00,Central,74.00,Central,Commerce,65.00,Comm&Mgmt,No,83.00,Mkt&Fin,62.28,300000.0
6,Placed,M,65.20,Central,61.40,Central,Commerce,64.80,Comm&Mgmt,Yes,93.40,Mkt&Fin,57.34,270000.0
7,Placed,F,74.00,Central,60.00,Others,Science,69.00,Comm&Mgmt,No,78.00,Mkt&HR,65.56,216000.0
8,Not Placed,F,43.00,Central,60.00,Others,Science,65.00,Comm&Mgmt,No,92.66,Mkt&HR,62.92,NaN
9,Placed,F,84.00,Central,73.00,Central,Commerce,73.00,Comm&Mgmt,No,75.00,Mkt&Fin,73.33,350000.0
10,Not Placed,M,61.80,Others,47.00,Others,Commerce,54.38,Comm&Mgmt,No,57.00,Mkt&Fin,56.13,NaN
11,Placed,F,85.00,Others,90.00,Others,Commerce,82.00,Comm&Mgmt,No,92.00,Mkt&Fin,68.03,300000.0
12,Placed,M,73.00,Central,64.00,Others,Commerce,77.00,Comm&Mgmt,Yes,65.00,Mkt&HR,60.98,250000.0
13,Placed,M,62.00,Central,72.00,Central,Commerce,65.00,Comm&Mgmt,No,67.00,Mkt&Fin,56.49,216000.0
14,Placed,F,66.00,Central,62.00,Central,Commerce,73.00,Comm&Mgmt,No,58.00,Mkt&HR,64.36,210000.0
15,Placed,M,58.00,Central,62.00,Central,Commerce,64.00,Comm&Mgmt,No,53.88,Mkt&Fin,54.97,260000.0
16,Not Placed,M,51.57,Others,74.66,Others,Commerce,59.90,Comm&Mgmt,Yes,56.15,Mkt&HR,65.99,NaN
17,Placed,M,84.00,Others,79.00,Others,Science,68.00,Sci&Tech,Yes,84.00,Mkt&Fin,66.69,300000.0
18,Not Placed,M,59.60,Central,51.00,Central,Science,60.00,Others,No,75.00,Mkt&HR,59.08,NaN
19,Not Placed,M,58.00,Others,40.00,Others,Science,59.00,Comm&Mgmt,No,73.00,Mkt&HR,58.81,NaN
20,Placed,F,69.00,Central,78.00,Central,Commerce,72.00,Comm&Mgmt,No,71.00,Mkt&HR,62.74,300000.0
21,Not Placed,M,52.00,Others,65.00,Others,Arts,57.00,Others,Yes,75.00,Mkt&Fin,59.81,NaN
22,Not Placed,M,59.00,Central,64.00,Others,Science,58.00,Sci&Tech,No,85.00,Mkt&HR,55.30,NaN
23,Placed,M,61.00,Others,62.00,Others,Commerce,65.00,Comm&Mgmt,No,62.00,Mkt&Fin,56.81,250000.0
24,Placed,M,63.00,Others,67.00,Others,Commerce,66.00,Comm&Mgmt,No,68.00,Mkt&HR,57.69,265000.0
25,Placed,F,74.90,Others,57.00,Others,Science,62.00,Others,Yes,80.00,Mkt&Fin,60.78,360000.0
26,Not Placed,F,67.00,Central,70.00,Central,Commerce,65.00,Others,No,88.00,Mkt&HR,71.96,NaN
27,Placed,M,82.00,Central,64.00,Central,Science,66.00,Sci&Tech,Yes,67.00,Mkt&Fin,62.14,252000.0
28,Placed,M,55.68,Others,61.33,Others,Commerce,56.87,Comm&Mgmt,No,66.00,Mkt&HR,58.30,260000.0
29,Placed,F,67.16,Central,72.50,Central,Commerce,63.35,Comm&Mgmt,No,53.04,Mkt&Fin,65.52,250000.0
30,Placed,M,60.80,Central,68.40,Central,Commerce,64.60,Comm&Mgmt,Yes,82.66,Mkt&Fin,64.34,940000.0
31,Placed,F,77.00,Others,73.00,Others,Commerce,81.00,Comm&Mgmt,Yes,89.00,Mkt&Fin,69.70,200000.0
32,Placed,F,75.20,Central,73.20,Central,Science,68.40,Comm&Mgmt,No,65.00,Mkt&HR,62.98,200000.0
33,Placed,M,76.50,Others,97.70,Others,Science,78.86,Sci&Tech,No,97.40,Mkt&Fin,74.01,360000.0
34,Placed,F,73.00,Others,63.00,Others,Science,66.00,Comm&Mgmt,No,89.00,Mkt&Fin,60.50,216000.0
35,Placed,M,84.00,Others,90.90,Others,Science,64.50,Sci&Tech,No,86.04,Mkt&Fin,59.42,270000.0
36,Placed,F,64.00,Central,67.00,Others,Science,69.60,Sci&Tech,Yes,55.67,Mkt&HR,71.49,250000.0
37,Not Placed,M,62.00,Others,51.00,Others,Science,52.00,Others,No,68.44,Mkt&HR,62.77,NaN
38,Not Placed,F,70.50,Central,62.50,Others,Commerce,61.00,Comm&Mgmt,No,93.91,Mkt&Fin,69.03,NaN
39,Placed,M,76.76,Others,76.50,Others,Commerce,67.50,Comm&Mgmt,Yes,73.35,Mkt&Fin,64.15,350000.0
40,Not Placed,F,56.28,Others,62.83,Others,Commerce,59.79,Comm&Mgmt,No,60.00,Mkt&HR,57.29,NaN
41,Placed,F,72.00,Others,60.00,Others,Science,69.00,Comm&Mgmt,No,55.50,Mkt&HR,58.40,250000.0
42,Placed,M,87.00,Others,87.00,Others,Commerce,68.00,Comm&Mgmt,No,95.00,Mkt&HR,62.90,300000.0

In [6]:
dataset

,status,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,salary
0,Placed,M,73.00,Central,78.00,Others,Commerce,65.00,Comm&Mgmt,Yes,95.46,Mkt&Fin,62.16,420000.0
1,Placed,M,73.00,Central,73.00,Central,Science,66.00,Sci&Tech,Yes,70.00,Mkt&Fin,68.07,275000.0
2,Placed,M,82.00,Others,90.00,Others,Commerce,83.00,Comm&Mgmt,No,80.00,Mkt&HR,73.52,200000.0
3,Placed,M,74.00,Central,62.00,Others,Science,68.00,Comm&Mgmt,No,74.00,Mkt&Fin,57.99,268000.0
4,Placed,M,80.00,Others,73.00,Others,Commerce,75.00,Comm&Mgmt,No,61.00,Mkt&Fin,58.78,240000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,Not Placed,F,70.50,Central,62.50,Others,Commerce,61.00,Comm&Mgmt,No,93.91,Mkt&Fin,69.03,NaN
39,Placed,M,76.76,Others,76.50,Others,Commerce,67.50,Comm&Mgmt,Yes,73.35,Mkt&Fin,64.15,350000.0
40,Not Placed,F,56.28,Others,62.83,Others,Commerce,59.79,Comm&Mgmt,No,60.00,Mkt&HR,57.29,NaN
41,Placed,F,72.00,Others,60.00,Others,Science,69.00,Comm&Mgmt,No,55.50,Mkt&HR,58.40,250000.0
42,Placed,M,87.00,Others,87.00,Others,Commerce,68.00,Comm&Mgmt,No,95.00,Mkt&HR,62.90,300000.0

# Data analysis

A colpo d'occhio si nota che alcune features possono essere arrotondate per aumentare le prestazioni (non conoscendo ancora la qualità del dataset, e giudicando piccole le dimensioni del dataset mi sembra una scelta opportuna):
- **ssc_p** è il voto preso alla scuola media, quindi si può arrotondare.
- **hsc_p** è il voto preso alla scuola superiore, quindi si può arrotondare.
- **degree_p** è il voto preso alla laurea, quindi si può arrotondare.
- **etest_p** è il voto punteggio ottenuto al test di collocabilità, quindi si può arrotondare.
- **mba_p** non so di preciso cosa sia, ma è un punteggio relativo a una votazione, quindi si può arrotondare.
- **salary** è relativo allo stipendio, si può arrotondare (anche se suppongo saranno tutti interi castati a float).

E' possibile notare che la feature salary non è una feature così rilevante per lo scopo (non è una feature che lo studente possiede prima di essere assunto), in più il dataset contiene il 47% di valori NaN nella colonna salary.

Dal test di correlazione di Spearmen emerge che non esiste alcuna coppia di features che soddisfa il requisito di correlazione almeno del 90%. Questo significa che è inutile tentare di rimuovere delle features in quanto si potrebbe avere un calo di prestazioni ignorando delle features. Nel caso in cui una coppia di features avesse soddisfatto il criterio di correlazione, allora avrei potuto scegliere una delle due feature e dropparla. Questo senza un drastico calo delle prestazioni, in quanto la loro correlazione è elevata

## Spearman correlation

Utilizzando la correlazione di Spearman è possibile costruire una matrice di correlazione per avere un'idea di come siano correlate le features tra di loro.

Come definito su [wikipedia](https://en.wikipedia.org/wiki/Spearman%27s_rank_correlation_coefficient):
> Intuitively, the Spearman correlation between two variables will be high when observations have a similar (or identical for a correlation of 1) rank (i.e. relative position label of the observations within the variable: 1st, 2nd, 3rd, etc.) between the two variables, and low when observations have a dissimilar (or fully opposed for a correlation of −1) rank between the two variables.

In [7]:
from scipy import stats

correlation_matrix = []

# per ogni nome delle colonne del DataFrame 
for i in (dataset.columns):
    # sto costruendo una matrice, e questa è l'i-esima colonna di questa matrice
    column_i = []
    
    # per ogni nome delle colonne del DataFrame
    for j in (dataset.columns):
       
        # calcola la correlazione tra l'i-esimo vettore delle features, e il j-esimo vettore delle features
        correlation = correlation = stats.spearmanr(dataset[i], dataset[j])
        # aggiungi il coefficiente di correlazione, nel vettore colonna che rappresenta l'i-esima colonna
        column_i.append(correlation.correlation)
        
    # aggiungi il vettore colonna alla matrice di correlazione
    correlation_matrix.append(column_i)

In [8]:
import numpy as np

# preparing to be printed out, just aesthetics using pandas DataFrame
correlation_matrix = np.matrix(correlation_matrix)
correlation_matrix = pd.DataFrame(correlation_matrix, columns = dataset.columns)
correlation_matrix.index = dataset.columns

In [9]:
correlation_matrix

,status,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,salary
status,1.000000,0.029771,0.623764,0.038436,0.489790,-0.003761,0.007371,0.532144,-0.012921,0.270835,0.134479,-0.276961,0.096913,-0.267027
gender,0.029771,1.000000,-0.162611,-0.061985,-0.023566,0.009902,0.031892,-0.181920,0.012241,0.092425,0.107940,-0.105537,-0.311783,0.081280
ssc_p,0.623764,-0.162611,1.000000,0.119906,0.521387,0.068929,0.185620,0.551834,0.158753,0.198336,0.308444,-0.223227,0.409767,NaN
ssc_b,0.038436,-0.061985,0.119906,1.000000,-0.151208,0.613429,0.051466,0.029899,0.084707,-0.037220,-0.090708,-0.004502,0.089867,-0.052376
hsc_p,0.489790,-0.023566,0.521387,-0.151208,1.000000,-0.063218,-0.201427,0.420033,-0.094111,0.159771,0.211005,-0.269537,0.351846,NaN
hsc_b,-0.003761,0.009902,0.068929,0.613429,-0.063218,1.000000,0.166176,0.047671,0.044822,0.099416,-0.013492,0.011460,0.115325,0.019201
hsc_s,0.007371,0.031892,0.185620,0.051466,-0.201427,0.166176,1.000000,0.104969,0.591177,-0.001264,0.057713,0.141985,0.000813,0.037127
degree_p,0.532144,-0.181920,0.551834,0.029899,0.420033,0.047671,0.104969,1.000000,0.025355,0.159445,0.164395,-0.262410,0.333906,NaN
degree_t,-0.012921,0.012241,0.158753,0.084707,-0.094111,0.044822,0.591177,0.025355,1.000000,0.103945,-0.048552,0.070456,0.039911,0.143917
workex,0.270835,0.092425,0.198336,-0.037220,0.159771,0.099416,-0.001264,0.159445,0.103945,1.000000,0.073650,-0.170730,0.121147,-0.036943
etest_p,0.134479,0.107940,0.308444,-0.090708,0.211005,-0.013492,0.057713,0.164395,-0.048552,0.073650,1.000000,-0.242562,0.181377,NaN
specialisation,-0.276961,-0.105537,-0.223227,-0.004502,-0.269537,0.011460,0.141985,-0.262410,0.070456,-0.170730,-0.242562,1.000000,-0.139672,-0.025976
mba_p,0.096913,-0.311783,0.409767,0.089867,0.351846,0.115325,0.000813,0.333906,0.039911,0.121147,0.181377,-0.139672,1.000000,NaN
salary,-0.267027,0.081280,NaN,-0.052376,NaN,0.019201,0.037127,NaN,0.143917,-0.036943,NaN,-0.025976,NaN,NaN

In [10]:
strongly_correlated_features = set()

correlation_matrix['status']['status']

for column_name in dataset.columns:
    for row_name in dataset.columns:
        if row_name == column_name:
            break

        if abs(correlation_matrix[row_name][column_name]) > spearman_treshold:
            strongly_correlated_features.add(str(row_name) + " - " + str(column_name))

if len(strongly_correlated_features):
    print("Feature couples with Spearman correlation above " + str(spearman_treshold) + ":\n")
else:
    print("There isn't any couple of features with Spearman correlation above " + str(spearman_treshold))
for scf in strongly_correlated_features:
    print(scf)

There isn't any couple of features with Spearman correlation above 0.9

## Salary value count

La feature salary non dovrebbe essere molto rilevante per lo scopo della classificazione.

Inoltre crea problemi sporcando il dataset con dei valori NaN, quindi può essere una buona idea rimuoverla.

In [11]:
# tasso di percentuale di valori NaN nella colonna salary

nan_occurrences = len(dataset['salary']) - dataset['salary'].count()
perc = nan_occurrences/dataset['salary'].count()
print(perc)

0.4700854700854701

# Data transformation

Qui vengono trasformati il dataset di training e di test:
- **Rimuovere features**
    - salary
- **Arrotondamento delle features**
    - ssc_p
    - hsc_p
    - degree_p
    - etest_p
    - mba_p
- **Encoding**
- **Ricostruzione di y_train e y_test**
- **Label dropping**

Le motivazioni di queste scelte sono descritte nella sezione Data Analysis (sopra).

## Rimozione features

In [12]:
%%capture
column_name = 'salary'
dataset.drop(columns=[column_name], inplace=True)
training_set.drop(columns=[column_name], inplace=True)
test_set.drop(columns=[column_name], inplace=True)

## Arrotondamento delle features

In [13]:
column_names = ['ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p']

for column_name in column_names:
    dataset[column_name] = dataset[column_name].astype('int64')
    training_set[column_name] = training_set[column_name].astype('int64')
    test_set[column_name] = test_set[column_name].astype('int64')

## Encoding

In [14]:
from sklearn.preprocessing import LabelEncoder

column_names = ['gender', 'ssc_b', 'hsc_b', 'hsc_s', 'degree_t', 'workex', 'specialisation']

encoder = LabelEncoder()

for column_name in column_names:
    dataset[column_name] = encoder.fit_transform(dataset[column_name])
    training_set[column_name] = encoder.fit_transform(training_set[column_name])
    test_set[column_name] = encoder.fit_transform(test_set[column_name])

## Ricostruzione di y_train e y_test

Producendo files csv in output dal file di preparazione, si sono persi i vettori delle coppie (ID, Label), che vanno dati in pasto alla funzione fit della LogisticRegression.

In [15]:
# x_test reconstruction

y_train = {}

for index, training_datapoint in training_set.iterrows():
    training_datapoint_label = training_datapoint[label_column_name]
    y_train[index] = training_datapoint_label

y_train = pd.Series(y_train, name=label_column_name)

# y_test reconstruction    

y_test = {}

for index, test_datapoint in test_set.iterrows():
    test_datapoint_label = test_datapoint[label_column_name]
    y_test[index] = test_datapoint_label
    
y_test = pd.Series(y_test, name=label_column_name)

## Label dropping

E' necessario droppare le colonne contenenti le labels, altrimenti il modello viene addestrato sulla base di queste etichette (non si può usare il modello, servirebbe l'etichetta per usarlo).

In [16]:
%%capture
column_name = 'status'
training_set.drop(columns=[column_name], inplace=True)
test_set.drop(columns=[column_name], inplace=True)

## Trasformed training set

In [17]:
training_set

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p
0,1,73,0,78,1,1,65,0,1,95,0,62
1,1,73,0,73,0,2,66,2,1,70,0,68
2,1,82,1,90,1,1,83,0,0,80,1,73
3,1,74,0,62,1,2,68,0,0,74,0,57
4,1,80,1,73,1,1,75,0,0,61,0,58
...,...,...,...,...,...,...,...,...,...,...,...,...
124,1,60,1,67,1,0,70,0,1,50,0,77
125,0,73,0,97,1,1,79,0,1,89,0,70
126,1,74,1,59,1,1,73,0,1,60,1,56
127,1,84,0,69,0,2,65,2,1,80,1,52
128,1,44,0,58,0,0,55,0,1,64,1,58

In [18]:
## Trasformed test set

In [19]:
test_set

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p
0,1,65,0,71,1,1,62,0,1,57,0,56
1,1,67,1,62,1,2,67,2,1,58,0,75
2,1,52,0,62,0,1,54,0,0,72,1,55
3,1,51,0,44,0,1,57,0,0,64,0,51
4,1,67,1,63,0,1,72,0,0,56,1,60
5,1,70,0,74,0,1,65,0,0,83,0,62
6,1,65,0,61,0,1,64,0,1,93,0,57
7,0,74,0,60,1,2,69,0,0,78,1,65
8,0,43,0,60,1,2,65,0,0,92,1,62
9,0,84,0,73,0,1,73,0,0,75,0,73
10,1,61,1,47,1,1,54,0,0,57,0,56
11,0,85,1,90,1,1,82,0,0,92,0,68
12,1,73,0,64,1,1,77,0,1,65,1,60
13,1,62,0,72,0,1,65,0,0,67,0,56
14,0,66,0,62,0,1,73,0,0,58,1,64
15,1,58,0,62,0,1,64,0,0,53,0,54
16,1,51,1,74,1,1,59,0,1,56,1,65
17,1,84,1,79,1,2,68,2,1,84,0,66
18,1,59,0,51,0,2,60,1,0,75,1,59
19,1,58,1,40,1,2,59,0,0,73,1,58
20,0,69,0,78,0,1,72,0,0,71,1,62
21,1,52,1,65,1,0,57,1,1,75,0,59
22,1,59,0,64,1,2,58,2,0,85,1,55
23,1,61,1,62,1,1,65,0,0,62,0,56
24,1,63,1,67,1,1,66,0,0,68,1,57
25,0,74,1,57,1,2,62,1,1,80,0,60
26,0,67,0,70,0,1,65,1,0,88,1,71
27,1,82,0,64,0,2,66,2,1,67,0,62
28,1,55,1,61,1,1,56,0,0,66,1,58
29,0,67,0,72,0,1,63,0,0,53,0,65
30,1,60,0,68,0,1,64,0,1,82,0,64
31,0,77,1,73,1,1,81,0,1,89,0,69
32,0,75,0,73,0,2,68,0,0,65,1,62
33,1,76,1,97,1,2,78,2,0,97,0,74
34,0,73,1,63,1,2,66,0,0,89,0,60
35,1,84,1,90,1,2,64,2,0,86,0,59
36,0,64,0,67,1,2,69,2,1,55,1,71
37,1,62,1,51,1,2,52,1,0,68,1,62
38,0,70,0,62,1,1,61,0,0,93,0,69
39,1,76,1,76,1,1,67,0,1,73,0,64
40,0,56,1,62,1,1,59,0,0,60,1,57
41,0,72,1,60,1,2,69,0,0,55,1,58
42,1,87,1,87,1,1,68,0,0,95,1,62

# Training phase

Questa è la fase in cui addestro il classificatore con regressione logistica.

L'algoritmo scelto è **liblinear** in quanto il numero di datapoints non è così esteso, e sulla [documentazione](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html) di sklearn c'è scritto 
> For small datasets, ‘liblinear’ is a good choice, whereas ‘sag’ and ‘saga’ are faster for large ones.

In [20]:
from sklearn.linear_model import LogisticRegression

# istanziamento dell'oggetto per il modello
lr = LogisticRegression(solver='liblinear', penalty="l1")

# training
lr = lr.fit(training_set, y_train)

# Evaluation phase

Qui vengono testate le prestazioni del modello basandosi sui datapoints dedicati al testing.

Viene effettuata una predizione per ogni datapoint del test set, calcolata la matrice di confusione, generato il classification report di sklearn, e calcolato lo score (accuracy) della logistic regression sia per il training set, che per il test set.

Ogni dato raccolto nella procedura descritta qui sopra, conferma le elevate prestazioni del modello.

## Test

In [21]:
# vettore contenente il risultato del classificatore quando viene passato in input il test set
pred = lr.predict(test_set)

## Confusion matrix

In [22]:
from sklearn.metrics import confusion_matrix

#matrice di confusione
confusion_matrix = np.matrix(confusion_matrix(pred, y_test))
confusion_matrix = pd.DataFrame(confusion_matrix, columns = ["Predicted as Placed", "Predicted as Not Placed"])
confusion_matrix.index = ['Placed', 'Not Placed']

In [23]:
confusion_matrix

            Predicted as Placed  Predicted as Not Placed
Placed                       12                        2
Not Placed                    2                       27

## Classification report

In [24]:
from sklearn.metrics import classification_report

print(classification_report(pred, y_test))

              precision    recall  f1-score   support

  Not Placed       0.86      0.86      0.86        14
      Placed       0.93      0.93      0.93        29

    accuracy                           0.91        43
   macro avg       0.89      0.89      0.89        43
weighted avg       0.91      0.91      0.91        43

## Training error

In [25]:
training_score = lr.score(training_set, y_train).round(2)
training_error = (1 - training_score).round(2)
print("Training error: " + str(training_error))

Training error: 0.12

## Test error

In [26]:
test_score = lr.score(test_set, y_test).round(2)
test_error = (1 - test_score).round(2)
print("Test error: " + str(test_error))

Test error: 0.09

## Accuracy

In [27]:
print("Accuracy: " + str(test_score))

Accuracy: 0.91